

:root{
  --java-color: red;
  --android-color:#3e990d;
  --cpp-color: #177cb2;
  --sql-color:#ef900b;
  --web-color:#c200c9;

  --main-bg-color: #f4f4f4;
  --silver: #e8e8e8;
}


body{
  font-family: 'Raleway', sans-serif;
}

.header{
  background-color: var(--main-bg-color);
}

.card-header{
  background-color: #e2e2e2;
}

.display-4{
  font-size: 3rem;
}

.page-title{
  height: 100px;
}

.clear-fix{
  min-height: 200px;
}

.badge-java{
  color: var(--java-color);
  border-color: var(--java-color);
}

.badge-android{
  color: var(--android-color);
  border-color: var(--android-color);
}

.badge-cpp{
  color: var(--cpp-color);
  border-color: var(--cpp-color);
}

.badge-sql{
  color: var(--sql-color);
  border-color: var(--sql-color);
}

.badge-web{
  color: var(--web-color);
  border-color: var(--web-color);
}

.lang-badge{
  margin: 4px;
  border-radius: 6px;
  border-style: solid;
  border-width: thin;
  padding: 6px;
  background-color: white;
}
