:root{
  --primary-color: #20388F;
  --primary-color-light: #445AAC;
  --primary-color-very-light: #CDD5F5;
  --primary-color-dark: #2C3864;
  --secondary-color: #4D9A00;
  --secondary-color-very-light: #C8F49C;
  --dark-color: #2E2E2E;
  --light-color: #F6F6F6;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(158deg, rgba(84, 84, 84, 0.03) 0%, rgba(84, 84, 84, 0.03) 20%,rgba(219, 219, 219, 0.03) 20%, rgba(219, 219, 219, 0.03) 40%,rgba(54, 54, 54, 0.03) 40%, rgba(54, 54, 54, 0.03) 60%,rgba(99, 99, 99, 0.03) 60%, rgba(99, 99, 99, 0.03) 80%,rgba(92, 92, 92, 0.03) 80%, rgba(92, 92, 92, 0.03) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 14.286%,rgba(8, 8, 8, 0.02) 14.286%, rgba(8, 8, 8, 0.02) 28.572%,rgba(52, 52, 52, 0.02) 28.572%, rgba(52, 52, 52, 0.02) 42.858%,rgba(234, 234, 234, 0.02) 42.858%, rgba(234, 234, 234, 0.02) 57.144%,rgba(81, 81, 81, 0.02) 57.144%, rgba(81, 81, 81, 0.02) 71.42999999999999%,rgba(239, 239, 239, 0.02) 71.43%, rgba(239, 239, 239, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.03) 0%, rgba(33, 33, 33, 0.03) 12.5%,rgba(147, 147, 147, 0.03) 12.5%, rgba(147, 147, 147, 0.03) 25%,rgba(131, 131, 131, 0.03) 25%, rgba(131, 131, 131, 0.03) 37.5%,rgba(151, 151, 151, 0.03) 37.5%, rgba(151, 151, 151, 0.03) 50%,rgba(211, 211, 211, 0.03) 50%, rgba(211, 211, 211, 0.03) 62.5%,rgba(39, 39, 39, 0.03) 62.5%, rgba(39, 39, 39, 0.03) 75%,rgba(55, 55, 55, 0.03) 75%, rgba(55, 55, 55, 0.03) 87.5%,rgba(82, 82, 82, 0.03) 87.5%, rgba(82, 82, 82, 0.03) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.02) 0%, rgba(42, 42, 42, 0.02) 20%,rgba(8, 8, 8, 0.02) 20%, rgba(8, 8, 8, 0.02) 40%,rgba(242, 242, 242, 0.02) 40%, rgba(242, 242, 242, 0.02) 60%,rgba(42, 42, 42, 0.02) 60%, rgba(42, 42, 42, 0.02) 80%,rgba(80, 80, 80, 0.02) 80%, rgba(80, 80, 80, 0.02) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(67, 67, 67, 0.03) 14.286%, rgba(67, 67, 67, 0.03) 28.572%,rgba(134, 134, 134, 0.03) 28.572%, rgba(134, 134, 134, 0.03) 42.858%,rgba(19, 19, 19, 0.03) 42.858%, rgba(19, 19, 19, 0.03) 57.144%,rgba(101, 101, 101, 0.03) 57.144%, rgba(101, 101, 101, 0.03) 71.42999999999999%,rgba(205, 205, 205, 0.03) 71.43%, rgba(205, 205, 205, 0.03) 85.71600000000001%,rgba(53, 53, 53, 0.03) 85.716%, rgba(53, 53, 53, 0.03) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.03) 0%, rgba(214, 214, 214, 0.03) 16.667%,rgba(255, 255, 255, 0.03) 16.667%, rgba(255, 255, 255, 0.03) 33.334%,rgba(250, 250, 250, 0.03) 33.334%, rgba(250, 250, 250, 0.03) 50.001000000000005%,rgba(231, 231, 231, 0.03) 50.001%, rgba(231, 231, 231, 0.03) 66.668%,rgba(241, 241, 241, 0.03) 66.668%, rgba(241, 241, 241, 0.03) 83.33500000000001%,rgba(31, 31, 31, 0.03) 83.335%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 12.5%,rgba(97, 97, 97, 0.03) 12.5%, rgba(97, 97, 97, 0.03) 25%,rgba(143, 143, 143, 0.03) 25%, rgba(143, 143, 143, 0.03) 37.5%,rgba(110, 110, 110, 0.03) 37.5%, rgba(110, 110, 110, 0.03) 50%,rgba(34, 34, 34, 0.03) 50%, rgba(34, 34, 34, 0.03) 62.5%,rgba(155, 155, 155, 0.03) 62.5%, rgba(155, 155, 155, 0.03) 75%,rgba(249, 249, 249, 0.03) 75%, rgba(249, 249, 249, 0.03) 87.5%,rgba(179, 179, 179, 0.03) 87.5%, rgba(179, 179, 179, 0.03) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.02) 0%, rgba(58, 58, 58, 0.02) 25%,rgba(124, 124, 124, 0.02) 25%, rgba(124, 124, 124, 0.02) 50%,rgba(254, 254, 254, 0.02) 50%, rgba(254, 254, 254, 0.02) 75%,rgba(52, 52, 52, 0.02) 75%, rgba(52, 52, 52, 0.02) 100%),linear-gradient(90deg, #FFF,#FFF);
}

section {
  width: 100%;
  min-width: 350px;
  height: max-content;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

a:hover {
  filter: opacity(80%);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  margin: 0;
  font-weight: 300;
    line-height: 1.15;
}

img {
  vertical-align: middle;
  border-style: none;
}

.m-1 {
  margin: 0.5rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.5rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.5rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.5rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.mt-2,
.my-2 {
  margin-top: 1rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 1rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 1rem !important;
}

.m-3 {
  margin: 2rem !important;
}

.mt-3,
.my-3 {
  margin-top: 2rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 2rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 2rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 2rem !important;
}

.m-4 {
  margin: 3rem !important;
}

.mt-4,
.my-4 {
  margin-top: 3rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 3rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 3rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 3rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 5rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 5rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 5rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 5rem !important;
}


.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: 0.15s ease-in-out;
}
.btn * {
  margin:0;
}

.btn:hover {
  text-decoration: none;
}

.primary {
  color: white;
  background-color: var(--primary-color);
}

.primary-light {
  color: white;
  background-color: var(--primary-color-light);
}

.primary-very-light {
  color: black;
  background-color: var(--primary-color-very-light);
}

.primary-dark {
  color: white;
  background-color: var(--primary-color-dark);
}

.secondary {
  color: white;
  background-color: var(--secondary-color);
}

.light-color {
  background-color: var(--light-color);
}

.hide {
  display: none !important;
}

.invert {
  filter: invert(100%) !important;;
}

.txt-norm {
  font-weight: normal;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

.align-items-center {
  align-items: center;
}

.page-1 {
  background: linear-gradient(0deg, rgba(75, 0, 155,0.2) 0%, rgba(75, 0, 155,0.2) 16.667%,rgba(52, 40, 188,0.2) 16.667%, rgba(52, 40, 188,0.2) 33.334%,rgba(29, 81, 221,0.2) 33.334%, rgba(29, 81, 221,0.2) 50.001%,rgba(40, 60, 204,0.2) 50.001%, rgba(40, 60, 204,0.2) 66.668%,rgba(63, 19, 171,0.2) 66.668%, rgba(63, 19, 171,0.2) 83.335%,rgba(17, 101, 237,0.2) 83.335%, rgba(17, 101, 237,0.2) 100.002%),linear-gradient(22.5deg, rgba(75, 0, 155,0.2) 0%, rgba(75, 0, 155,0.2) 16.667%,rgba(52, 40, 188,0.2) 16.667%, rgba(52, 40, 188,0.2) 33.334%,rgba(29, 81, 221,0.2) 33.334%, rgba(29, 81, 221,0.2) 50.001%,rgba(40, 60, 204,0.2) 50.001%, rgba(40, 60, 204,0.2) 66.668%,rgba(63, 19, 171,0.2) 66.668%, rgba(63, 19, 171,0.2) 83.335%,rgba(17, 101, 237,0.2) 83.335%, rgba(17, 101, 237,0.2) 100.002%),linear-gradient(157.5deg, rgba(75, 0, 155,0.2) 0%, rgba(75, 0, 145,0.2) 16.667%,rgba(52, 40, 108,0.2) 16.667%, rgba(52, 40, 188,0.2) 33.334%,rgba(29, 81, 221,0.2) 33.334%, rgba(29, 81, 221,0.2) 50.001%,rgba(40, 60, 204,0.2) 50.001%, rgba(40, 60, 204,0.2) 66.668%,rgba(63, 19, 171,0.2) 66.668%, rgba(63, 19, 171,0.2) 83.335%,rgba(17, 101, 237,0.2) 83.335%, rgba(17, 101, 237,0.2) 100.002%),linear-gradient(90deg, rgb(52, 52, 52),rgb(91, 91, 91));
}

.page-other {
  padding-left: 9rem;
  padding-right: 1rem;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  z-index: 10;
  top: 2rem;
  margin: 0 5%;
}

.navbar a {
  font-family: 'Roboto Mono', sans-serif;
  padding: 1rem 1rem;
}

.nav-page-1 a  {
  color: var(--primary-color-very-light);
}

.nav-item-active-1 {
  color: var(--secondary-color-very-light) !important;
}

.nav-page-other a {
  color: var(--primary-color);
  border-left: 2px solid var(--primary-color-light);

}

.nav-item-active {
  color: var(--secondary-color) !important;
  border-left: 4px solid var(--secondary-color) !important;
  transition: 0s;
}

.nav-page-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 8rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 1%;
  margin: 0;
  animation: slide-in-left .3s ease-out both
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-20 19:19:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

@media (max-width: 800px) {
  .page-other {
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  .nav-page-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 1%;
    margin: 0;
    animation: slide-in-left .3s ease-out both
  }

  .nav-item-active-1 {
    background-color: var(--light-color) !important;
    border: 2px solid var(--light-color) !important;
  }

  .nav-page-1 a {
    color: var(--primary-color);
    border: 1px solid var(--light-color);
  }

  .nav-text {
    display: none;
  }

  .nav-item-active {
    background-color: var(--primary-color-light) !important;
    border: 2px solid var(--primary-color-light) !important;
    transition: 0s;
  }

  .nav-page-other a {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .nav-page-other, .nav-page-1 {
    width: inherit;
  }

  .navbar a {
    width: 0.6rem;
    height: 0.6rem;
    padding: 0;
    margin: 0.2rem 0;
    border-radius: 50%;
    pointer-events: none;
    cursor: default;
  }

}

.footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.p1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5% 5%;
}

.p1-text-box {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
  color: white;
  font-weight: 300;
}

.p1-face {
  margin-right: 5%;
  height: 18rem;
  width: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  filter: saturate(0.8) brightness(110%) contrast(0.9);
}

@media (max-width: 800px) {
  .p1-face {
    display: none;
  }
}

.p1-name {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.p1-links img {
  margin-right: 1rem;
}

.p-header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.p-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .p-header {
    padding-bottom: 1rem;
  }
}

.p2-container {
  display: flex;
  justify-content: center;
}

.p2-edu-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 3px solid var(--primary-color);
}

.p2-exp-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-left: 3px solid var(--primary-color);
}

.p2-arrow {
  display: flex;
  justify-content: center;
}

.p2-timeline {
  display: flex;
  margin-bottom: 2rem;
}

.p2-exp-box .p2-timeline {
  flex-direction: row-reverse;
}

.p2-timeline-text {
  width: 75%;
  padding: 0.8rem;
}

.p2-timeline-year {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  width: 25%;
  border-bottom: 3px solid var(--primary-color);
  text-align: center;
  font-weight: 300;
  padding: 0.5em;
}

.p2-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 6px solid  var(--primary-color);
}

@media (min-width: 800px) {
  #page-2-1, #page-2-2 {
    display: none;
  }
}

@media (max-width: 800px) {
  #page-2 {
    display: none;
  }
}

.p3-container {
  flex-grow: 1;
  width: 100%;
  min-height: 550px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: center;
  padding: 0 2vw;
  padding-bottom: 0;
}

.p3-item-1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.p3-item-2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

.p3-item-3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.p3-item-4 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 2;
}

.p3-container h4 {
  font-weight: normal;
}

.p3-container ul {
  list-style-type: none;
  font-weight: 300;
  margin:0;
  padding: 0;
  margin-top: 0.8rem;
}

.p3-container li {
  margin-bottom: 0.4rem;
}

@media (max-width: 800px) {
  .p3-item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 70%;
  }

  .p3-item-2 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    height: 70%;
  }

  .p3-item-3 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    height: 70%;
  }

  .p3-item-4 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    height: 70%;
  }
}

.p4-overlay {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.p4-overlay button {
 border:none;
 background: none;
}

.p4-indicator span {
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.p4-overlay img {
  height: 2em;
  width: auto;
  filter: invert(0.4);
}

.active-indicator {
  background-color: rgb(100, 100, 100);
}

.p4-box {
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
  margin: 0 2vw;
  background-color: rgba(255,255,255,0.4);
}



.p4-project {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  -webkit-animation: fade-in 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-2-21 18:11:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.p4-project h4 {
  color: var(--primary-color);
}

.p4-project  b {
  font-weight: 600;
  line-height: 1.8;
}

.p4-project p {
  margin-bottom: 0.8rem;
}

.p4-pbody {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p4-body-left {
  width: 50%;
  border-right: 1px solid rgb(100, 100, 100);
  padding-right: 1.5rem;
}

.p4-body-right {
  width: 50%;
  padding-left: 1.5rem;
}

@media (max-width: 800px) {
  .p4-box {
    padding: 1rem;
  }

  .p4-pbody {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .p4-body-right, .p4-body-left {
    width: inherit;
    padding: 0;
    border: none;
  }
}

.p5-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.p5-container div {
  padding: 1.5rem;
  max-width: 35%;
  text-align: center;
}

@media (max-width: 800px) {
  .p5-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .p5-container div {
    max-width: 70%;
    margin-bottom: 1rem;
  }
}

.p5-container p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.p6-box {
  text-align: center;
}

.p6-box div {
  margin-top: 2rem;
  margin-bottom: 10%;
  background-color: rgba(255, 255, 255, 0.4);
}

.p6-box table {
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.p6-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p6-box tr {
  height: 2.5rem;
}

.p6-links {
  font-family: 'Roboto Mono', monospace;
}

.p6-links a {
  color: var(--primary-color-light);
}

.p6-available {
  font-weight: 300;
  text-align: left;
}

.p6-available table {
  text-align: left;
}

.p6-available img {
  margin-right: 1rem;
}
